In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import time
import statistics
import sklearn
%matplotlib inline
from datetime import date
from scipy import stats as stats
from sklearn import preprocessing
from sklearn import model_selection
from datetime import datetime, timedelta
from tensorflow import keras as keras
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer
from numpy import asarray
from numpy import savetxt

In [2]:
df_demo = pd.read_csv("/Users/alex/LOSDataDemo.csv")

In [3]:
demo = df_demo[['HADM_ID','blood and blood-forming organs','digestive',
       'genitourinary', 'ill-defined', 'infectious and parasitic',
       'injury and poisoning','nervous','respiratory', 'skin and subcutaneous tissue',
        'MARRIAGE ENDED',
       'MARRIED', 'SINGLE', 'UNKNOWNmarriage', 'CATHOLIC', 'CHRISTIAN OTHER',
       'JEWISH', 'NON-CHRISTIAN OTHER', 'PROTESTANT', 'UNKNOWNreligion',
       'GOVERNMENT', 'PRIVATE', 'SELF-PAY', 'CLINIC REFERRAL/PREMATURE',
       'EMERGENCY ROOM ADMIT', 'HMO REFERRAL/SICK',
       'PHYS REFERRAL/NORMAL DELI', 'TRANSFER FROM HOSP/EXTRAM',
       'TRANSFER FROM OTHER HEALT', 'TRANSFER FROM SKILLED NUR',
       'TRSF WITHIN THIS FACILITY', 'UNKNOWN', 'ELECTIVE', 'EMERGENCY',
       'URGENT']]

In [4]:
demo.shape

(22404, 35)

In [5]:
demo = demo.drop_duplicates()
demo = demo.reset_index()

In [6]:
demo.shape

(22404, 36)

In [7]:
demo.columns

Index(['index', 'HADM_ID', 'blood and blood-forming organs', 'digestive',
       'genitourinary', 'ill-defined', 'infectious and parasitic',
       'injury and poisoning', 'nervous', 'respiratory',
       'skin and subcutaneous tissue', 'MARRIAGE ENDED', 'MARRIED', 'SINGLE',
       'UNKNOWNmarriage', 'CATHOLIC', 'CHRISTIAN OTHER', 'JEWISH',
       'NON-CHRISTIAN OTHER', 'PROTESTANT', 'UNKNOWNreligion', 'GOVERNMENT',
       'PRIVATE', 'SELF-PAY', 'CLINIC REFERRAL/PREMATURE',
       'EMERGENCY ROOM ADMIT', 'HMO REFERRAL/SICK',
       'PHYS REFERRAL/NORMAL DELI', 'TRANSFER FROM HOSP/EXTRAM',
       'TRANSFER FROM OTHER HEALT', 'TRANSFER FROM SKILLED NUR',
       'TRSF WITHIN THIS FACILITY', 'UNKNOWN', 'ELECTIVE', 'EMERGENCY',
       'URGENT'],
      dtype='object')

In [8]:
HR = pd.read_csv("/Users/alex/HR.csv")
Temp = pd.read_csv("/Users/alex/Temp.csv")
WBC = pd.read_csv("/Users/alex/WBC.csv")
Glas = pd.read_csv("/Users/alex/Glas.csv")
Mech_Vent = pd.read_csv("/Users/alex/Mech_Vent.csv")
Biril = pd.read_csv("/Users/alex/Biril.csv")
BUN = pd.read_csv("/Users/alex/BUN.csv")
Albumin = pd.read_csv("/Users/alex/Albumin.csv")
OxySat = pd.read_csv("/Users/alex/OxySat.csv")
Platelets = pd.read_csv("/Users/alex/Platelets.csv")
RBC = pd.read_csv("/Users/alex/RBC.csv")
pH = pd.read_csv("/Users/alex/pH.csv")
Hematocrit = pd.read_csv("/Users/alex/Hematocrit.csv")
ResRate = pd.read_csv("/Users/alex/ResRate.csv")
Weight = pd.read_csv("/Users/alex/Weight.csv")

In [9]:
HR = HR.drop(columns = 'Unnamed: 0')
Temp = Temp.drop(columns = 'Unnamed: 0')
WBC = WBC.drop(columns = 'Unnamed: 0')
Glas = Glas.drop(columns = 'Unnamed: 0')
Mech_Vent = Mech_Vent.drop(columns = 'Unnamed: 0')
Biril = Biril.drop(columns = 'Unnamed: 0')
BUN = BUN.drop(columns = 'Unnamed: 0')
Albumin = Albumin.drop(columns = 'Unnamed: 0')
OxySat = OxySat.drop(columns = 'Unnamed: 0')
Platelets = Platelets.drop(columns = 'Unnamed: 0')
RBC = RBC.drop(columns = 'Unnamed: 0')
pH = pH.drop(columns = 'Unnamed: 0')
Hematocrit = Hematocrit.drop(columns = 'Unnamed: 0')
ResRate = ResRate.drop(columns = 'Unnamed: 0')
Weight = Weight.drop(columns = 'Unnamed: 0')

In [10]:
Albumin.shape

(22404, 672)

In [11]:
demo.shape

(22404, 36)

In [12]:
lst = [HR, Temp, WBC, Glas, Mech_Vent, Biril, BUN, Albumin, OxySat, Platelets,
       RBC, pH, Hematocrit, ResRate, Weight]
lstdata = ['HR', 'Temp', 'WBC', 'Glas', 'Mech_Vent', 'Biril', 'BUN', 'Albumin', 'OxySat', 'Platelets',
           'RBC', 'pH', 'Hematocrit', 'ResRate', 'Weight']
demo = demo[['HADM_ID','blood and blood-forming organs', 'digestive',
       'genitourinary', 'ill-defined', 'infectious and parasitic',
       'injury and poisoning', 'nervous', 'respiratory',
       'skin and subcutaneous tissue', 'MARRIAGE ENDED', 'MARRIED', 'SINGLE',
       'UNKNOWNmarriage', 'CATHOLIC', 'CHRISTIAN OTHER', 'JEWISH',
       'NON-CHRISTIAN OTHER', 'PROTESTANT', 'UNKNOWNreligion', 'GOVERNMENT',
       'PRIVATE', 'SELF-PAY', 'CLINIC REFERRAL/PREMATURE',
       'EMERGENCY ROOM ADMIT', 'HMO REFERRAL/SICK',
       'PHYS REFERRAL/NORMAL DELI', 'TRANSFER FROM HOSP/EXTRAM',
       'TRANSFER FROM OTHER HEALT', 'TRANSFER FROM SKILLED NUR',
       'TRSF WITHIN THIS FACILITY', 'UNKNOWN', 'ELECTIVE', 'EMERGENCY',
       'URGENT']]
lstdemo = ['blood and blood-forming organs','digestive',
       'genitourinary', 'ill-defined', 'infectious and parasitic',
       'injury and poisoning','nervous','respiratory', 'skin and subcutaneous tissue',
        'MARRIAGE ENDED',
       'MARRIED', 'SINGLE', 'UNKNOWNmarriage', 'CATHOLIC', 'CHRISTIAN OTHER',
       'JEWISH', 'NON-CHRISTIAN OTHER', 'PROTESTANT', 'UNKNOWNreligion',
       'GOVERNMENT', 'PRIVATE', 'SELF-PAY', 'CLINIC REFERRAL/PREMATURE',
       'EMERGENCY ROOM ADMIT', 'HMO REFERRAL/SICK',
       'PHYS REFERRAL/NORMAL DELI', 'TRANSFER FROM HOSP/EXTRAM',
       'TRANSFER FROM OTHER HEALT', 'TRANSFER FROM SKILLED NUR',
       'TRSF WITHIN THIS FACILITY', 
           'UNKNOWN', 'ELECTIVE', 'EMERGENCY',
       'URGENT']

In [13]:
def makefinal(lst, lstdata, demo, lstdemo):
    binary = pd.DataFrame()
    for i in range(0, 672, 2):
        j = str(i)
        for k in range(0, len(lstdata)):
            mname = ('m' + str(lstdata[k]) + j)
            tname = ('t'+ lstdata[k] + j)
            binary[tname] = lst[k].iloc[:, i]
            binary[mname] = lst[k].iloc[:, i+1]
        for l in range(0, len(lstdemo)):
            dname = (lstdemo[l] + j)
            binary[dname] = demo.iloc[:, l]
        
    return binary

In [14]:
binary = makefinal(lst, lstdata, demo, lstdemo)

In [15]:
binary.shape

(22404, 21504)

In [16]:
21504//336

64

In [17]:
binary = binary.iloc[:11202, :]

In [18]:
binary = np.asarray(binary)

In [19]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(binary, test_size=0.15, shuffle = False)

print(train.shape[0])
print(test.shape[0])

scaler = StandardScaler()

trnx = scaler.fit_transform(train)
tstx = scaler.transform(test)

9521
1681

In [20]:
hadmdemo = demo.iloc[:,0]

In [21]:
y = pd.read_csv("/Users/alex/LOSDatay.csv")

In [22]:
y.shape

(22399, 337)

In [23]:
y = y.iloc[:11202, :]

In [23]:
for i in range(0,5):
    y= y.append(pd.Series(), ignore_index=True)

In [24]:
y.shape

(22404, 337)

In [25]:
y.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,326,327,328,329,330,331,332,333,334,335
0,0.0,40.0,39.0,38.0,37.0,36.0,34.0,33.0,32.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,318.0,317.0,316.0,315.0,314.0,313.0,312.0,311.0,310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,71.0,70.0,69.0,68.0,67.0,66.0,65.0,64.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,196.0,195.0,194.0,193.0,192.0,191.0,190.0,189.0,188.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,162.0,161.0,160.0,159.0,158.0,157.0,156.0,155.0,154.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
y.shape

(11202, 337)

In [25]:
y = y.iloc[:, 1:]
y = y.fillna(0)

In [26]:
trny = y[:9521]
tsty = y[9521:]

In [27]:
tsty = np.asarray(tsty)
trny = np.asarray(trny)

In [28]:
tsty.shape

(1681, 336)

In [29]:
trny.shape

(9521, 336)

In [32]:
# save numpy array as csv file
from numpy import asarray
from numpy import savetxt
# save to csv file
savetxt('LOSDatatrnx.csv', trnx, delimiter=',')
savetxt('LOSDatatrny.csv', trny, delimiter=',')
savetxt('LOSDatatstx.csv', tstx, delimiter=',')
savetxt('LOSDatatsty.csv', tsty, delimiter=',')